
body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  color: #434242;
}

.link, .link:hover{
  text-decoration: none;
  color: #434242;
}

.section-title{
  font-size: 55px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.title{
  font-size: 28px;
  font-weight: 700;
}

.text{
  font-size: 22px;
  font-weight: 400;
}

.primary{
  color:#FCA8BC;
}

footer{
  background-color: #F06544;
  color:white;
  padding-top: 60px;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .section-title{
    font-size: 40px;
    letter-spacing: 4px;
  }

  .title{
    font-size: 24px;
  }

  .text{
    font-size: 20px;
  }

  footer{
    padding-top: 30px;
    padding-bottom: 15px;
  }
}

.short-animation{
  transition-duration: 350ms;
}

.large-animation{
  transition-duration: 1000ms;
}

.min-height{
  min-height: 80vh;
}